.row{
    padding-top: 7rem;
}
.product{
    overflow: hidden;
    width: 300px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #F0F2F3;
    box-shadow: 13px 5px 4px rgb(0 0 0 / 4%);
    border-radius: 8px;
    padding: 10px;
}
.product-thumb img{
    width: 100%;
    height: 290px;
    padding: 0px;
    border-radius: 5px;
}
.title{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #18181D;
    background-color: #9dd2c1;
    font-size: 25px;
}
.price{
    margin: 8px 0;
}
.price span{
    color: #18181D;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.footer{
    margin-top: 20px;
}
.btn{
    display: flex;
    flex-direction: column;
}
.btn-custom{
    cursor: pointer;
    text-align: center;
    background-color: #00a470;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 12px 30px;
    transition: 0.3s;
    text-transform: uppercase;
}
.btn .primary{
    color:#fff;
    text-decoration: none
}
.btn .primary:hover{
    background-color: #3c3c3c;
    text-decoration: none
}
.btn .second{
    background-color: #fff;
    color: #00a470;
    text-decoration: none
}


@media screen and (max-width: 669px){

    .product{
        width: 355px;
    }
    .btn-custom{
        padding: 20px 30px;
    }
}
@media screen and (max-width: 350px){

    .product{
        width: 355px;
    }
    .btn-custom{
        padding: 10px 30px;
    }
}