* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }

.containerSN2{
    display: flex;
    background-color: #111;
    color: white !important;
    align-items: center;
    padding: 50px;
}
.sobreProjeto{
    text-transform: uppercase;
    font-weight: bold;
    color: #e3e3e3;
}
.barrinha2{
    width: 220px;
    border-radius: 1px;
    height: 3px;
    background-color: #00a470;
    margin: 0px 0px 20px 0px;
}
.margin-text {
    margin: 0px 0px 0px 100px;

}
.boxPerfil1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imagem-sobreNos2 {
    display: flex;
    margin: 0px 0px 0px 40px;
    width: 560px;
    height: auto;
}
.imagem-sobreNos2:hover {
    transform: scale(1.10);
    transition: 0.5s all ease-in-out;
}
.card4{
    margin: 30px 20px;
    width: 250px;
    height: 400px;
}

.fotoCard2 {
    height: 250px;
    padding: 10px 10px 0px 10px;
    border-top-left-radius: 13px !important;
    border-top-right-radius: 13px !important;

}

.margem-Nome {
    margin-top: 0px !important;
}

.bordaCard2{
    overflow: hidden;
    width: 230px;
    height: 139px;
    margin-left: 10px;
    background-color: rgb(206, 236, 209);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card4:hover{
    transform: scale(1.03);
    transition: 0.5s all ease-in-out;
}
.logo-redes{
    display: inline;
    padding: 13px;
}

.cor-logo{
    fill: #00a470;
}

.desenvolvedores{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}
.textDesenvolvedores{
    color: #222 !important;
    text-transform: uppercase;
    font-weight: bold;
}
.ul-cards2 {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0px 270px;
}
.li-cards2 {
    text-align: center;
    
}
.card-body2 {
    border-radius: 13px !important;
    background: #ffffff !important;
    box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.22) !important;
}

.card-body:hover {
    color: #000000;
    transform: scale(1.1);
    transition: 0.5s;
  }

@media screen and (max-width: 1000px) {
    .ul-cards {
        margin: 0px 140px 0px 140px;
    }
}