.text-decorator-none {
    text-decoration: none;
}

.fullScreen {
    height: 100vh;
}

.loginStyle {
    border-style: solid;
    border-radius: 1rem;
    border-width: 0.3px;
    padding: 4rem;
}

.flex {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.linkStyle {
    color: #4CAF50;
    text-decoration: none;
}